
/* Font and colors*/

body {
    background : rgb(240,240,240) ;
    color      :          #2E4057 ;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size  :    50px;
    color      : #DA4167;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size  :    18px;
    color      : #083D77;
}
a{
    text-decoration: none;
    color:blue;
}
a:hover{
    text-decoration: none;
    color: green;
}

/* Custom design */

#banner{
    background-image: url("https://picsum.photos/1300/600/?random");
    background-size: cover;
    padding:  10px;
    margin : 50px;
    text-align: center;
    color:white;
}

#banner h1{
    color : white;
    font-size: 50px;
}

#banner p {
    color : white;
    font-size: 30px;
    font-weight: lighter;
}

.card{
    padding : 30px;
    text-align: center;

}

#footer{
    font-size: 20px;
    border-radius: 10px ;
    box-shadow: 4px 4px 1px rgb(15,15,15);
    padding: 30px;
    margin:50px;
    background: rgb(30, 30, 30);
    color: lightgrey;
}

#footer a{
    font-size: 30px;
    color    : lightgrey;
}

#footer a:hover{
    color    : white;
}